In [0]:
# Create sample data
data = [
    (101, "Alex", "Data Analyst", 60000),
    (102, "Riya", "Data Scientist", 85000),
    (103, "John", "Data Engineer", 90000),
    (104, "Sara", "Data Analyst", 65000),
    (105, "Mike", "ML Engineer", 95000)
]

columns = ["emp_id", "name", "role", "salary"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show data
df.show()

+------+----+--------------+------+
|emp_id|name|          role|salary|
+------+----+--------------+------+
|   101|Alex|  Data Analyst| 60000|
|   102|Riya|Data Scientist| 85000|
|   103|John| Data Engineer| 90000|
|   104|Sara|  Data Analyst| 65000|
|   105|Mike|   ML Engineer| 95000|
+------+----+--------------+------+

Select specific columns

In [0]:
df.select("name", "role").show()

+----+--------------+
|name|          role|
+----+--------------+
|Alex|  Data Analyst|
|Riya|Data Scientist|
|John| Data Engineer|
|Sara|  Data Analyst|
|Mike|   ML Engineer|
+----+--------------+

Filter data

In [0]:
df.filter(df.role == "Data Analyst").show()

+------+----+------------+------+
|emp_id|name|        role|salary|
+------+----+------------+------+
|   101|Alex|Data Analyst| 60000|
|   104|Sara|Data Analyst| 65000|
+------+----+------------+------+

Filter with condition

In [0]:
df.filter(df.salary > 80000).show()

+------+----+--------------+------+
|emp_id|name|          role|salary|
+------+----+--------------+------+
|   102|Riya|Data Scientist| 85000|
|   103|John| Data Engineer| 90000|
|   105|Mike|   ML Engineer| 95000|
+------+----+--------------+------+

Group By and aggregate

In [0]:
df.groupBy("role").count().show()

+--------------+-----+
|          role|count|
+--------------+-----+
|  Data Analyst|    2|
|Data Scientist|    1|
| Data Engineer|    1|
|   ML Engineer|    1|
+--------------+-----+

Sort data

In [0]:
df.orderBy(df.salary.desc()).show()

+------+----+--------------+------+
|emp_id|name|          role|salary|
+------+----+--------------+------+
|   105|Mike|   ML Engineer| 95000|
|   103|John| Data Engineer| 90000|
|   102|Riya|Data Scientist| 85000|
|   104|Sara|  Data Analyst| 65000|
|   101|Alex|  Data Analyst| 60000|
+------+----+--------------+------+